<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.steelrain.lilac.batch.datamodel.YoutubePlayListDTO" alias="PlayListDTO"></typeAlias>
        <typeAlias type="com.steelrain.lilac.batch.datamodel.YoutubeChannelDTO" alias="ChannelDTO"></typeAlias>
        <typeAlias type="com.steelrain.lilac.batch.datamodel.YoutubeVideoDTO" alias="VideoDTO"></typeAlias>
        <typeAlias type="com.steelrain.lilac.batch.datamodel.YoutubeCommentDTO" alias="CommentDTO"></typeAlias>
    </typeAliases>
</configuration>